<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Financial Data Exploration</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
</head>

<body class="bg-info">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="page-header">
					<h1 class="text-primary text-center">
						<strong>Financial Data Exploration Suite</strong>
					</h1>
				</div>
			</div>
		</div>
<div class="row">
			<div class="span12">
				<div class="row">
					<div class="col-md-4">
						<div class="jumbotron bg-primary">
							<form name="data_upload" id="data_upload" method="POST" enctype="multipart/form-data">
								<div class="form-group">
									<div class="input-group">
									<lablel for="mode">What would you like to do?</lablel>
									<select name="mode" class="form-control" id="mode">
										<option value="reg">Regression</option>
										<option value="den">Density</option>
										<option value="plot">Plot</option>
									</select>
									</div>
								</div>
								<div class="form-group">
									<lablel for="voi">Variable of interest:</lablel>
									<input id="voi" class="form-control" type="text" name="voi" placeholder="Sales">
								</div>
								<div class="form-group">
									<lablel for="stores">Stores of interest:</lablel>
									<input id="stores" class="form-control" type="text" name="stores" placeholder="all">
								</div>
								<div class="form-group">
									<lablel for="store_col">Store column label:</lablel>
									<input id="store_col" class="form-control" type="text" name="store_col" placeholder="Store">
								</div>
								<div class="form-group">
									<lablel for="time_col">Time column label:</lablel>
									<input id="time_col" class="form-control" type="text" name="time_col" placeholder="Date">
								</div>
								<div class="form-group">
									<lablel for="title">Plot title:</lablel>
									<input id="title"  class="form-control" type="text" name="title">
								</div>
								<div class="form-group">
									<lablel for="yaxis">Y-axis label:</lablel>
									<input id="yaxis" class="form-control" type="text" name="yaxis">
								</div>
								<div class="form-group">
									<div class="input-group">
									<lablel for="interval">What are the time intervals?</lablel>
									<select name='time_int' id="interval" class="form-control">
										<option value="day">Day</option>
										<option value="week">Week</option>
										<option value="month">Month</option>
										<option value="year">Year</option>
									</select>
									</div>
								</div>
								<div class="form-group">
									<lablel for="file">Please upload your files</lablel>
									<input name="file" id="file" class="form-control" type="file">
									<button class="btn btn-primary btn-large form-control" type="submit">
										<span class="glyphicon glyphicon-open" aria-hidden="true"></span> Upload</button>
									<!-- <a class="btn btn-primary btn-large form-control" type="submit">
										<span class="glyphicon glyphicon-open" aria-hidden="true"></span> Upload</a> -->
								</div>
								</form>
								<form class="form-inline" id="plot_download" method="get">
								<div class="form-group">
									{% if result_image %}
									<input type="hidden" name="dl" value="{{ result_image }}" />
									{% else %}
									  <input type="hidden" name="dl" value="" />
									{% endif %}
									<lablel>Download your Results:</lablel>
									<button class="btn btn-info btn-large form-control" type="submit">
										<span class="glyphicon glyphicon-save" aria-hidden="true"></span> Download
									</button>
								</div>
								</form>
							<!-- </form> -->
						</div>
					</div>
					<div class="col-md-8">
						<div class="jumbotron bg-primary">
							<div class="row">
								<h3 class="panel-title">Instructions</h3>
								<ul>
									<li>To use the suite, enter your information into the panel on the left and upload your data. In the entry fields, specify the following:
										<ul>
											<li>What operation you would like to perform. (What would you like to do?)</li>
											<li>The column label in your data that you're interested in regressing or plotting. (Variable of interest)</li>
											<li>The labels of the stores whose data you would like to explore. If all is specified, then all stores are used. Otherwise, specify a comma separated list of the store labels of interest. (Stores of interest)</li>
											<li>The column label in your data that indicates the store for each data point. (Store column label)</li>
											<li>The column label in your data that indicates the time for each data point. (Time column label)</li>
											<li>Title of the resulting plot. (Plot title)</li>
											<li>Y-axis label of the resulting plot. (Y-axis label)</li>
											<li>The time intervals of the data provided. (What are the time intervals?)</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="row">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<h3 class="panel-title">Result Image</h3>
									</div>
									<div class="panel-body">
									{% if result_image %}
									<img class="img-responsive center-block" src="{{ result_image }}" />
									{% else %}
									  <img class="img-responsive center-block" src="/static/image/demo.png" />
									{% endif %}
									</div>
								</div>
						</div>
						<div class="row">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title">Result Numerical Output</h3>
								</div>
								<div class="panel-body">
									<samp>Minimum: 0.0<br>Maximum: 1130.0<br>Median: 559.0<br>Mean: 557.8<br>Q1: 464.0<br>Q3: 636.0</samp>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="jumbotron bg-primary">
							<div class="row">
								<h3 class="panel-title">Interpretting Output</h3>
								<ul>
									<li>Regression:
										<ul>
											<li>Image: The regression plot image displays your variable of interest over time. Each dot indicates a specific value of your variable of interest at a specific time. The blue line displays the predicted regression results of your variable of interest over time.</li>
											<li>Numerical Output: This summary of the regression displays the results of the regression of your variable of interest. This is a predicted value at a certain time based on your variable of interest, in the form variable_of_interest = intercept+time_regression_value*time. The first number corresponds to the row value, the second to the first label in the first row, etc. The estimate of the coefficient corresponds to the intercept and the time_regression_value in the form. "std.error" corresponds to standard error. Statistic corresponds to the F-statistic. "p.value" corresponds to the P-value, for which a lower value is better and a value below .05 is generally regarded as significant.</li>
										</ul>
									</li>
									<li>Density Plot:
										<ul>
											<li>Image: The denisty plot displays the distribution of your variable of interest. Higher values indicate more values of your variable of interest. The plot is colored by each of the stores you specified.</li>
											<li>Numerical Output: This 6 number summary is a summary of the way your values for your variables of interest are distributed. Q1 is the first quantile (25% of your values) and Q3 is the third quantile (75% of your values).</li>
										</ul>
									</li>
									<li>Dot Plot:
										<ul>
											<li>Image: The dot plot displays your variable of interest over time. Each dot indicates a specific value of your variable of interest at a specific time. The plot is colored by each of the stores you specified.</li>
											<li>Numerical Output: These numbers are to be interpreted in the same way as the density plot (see information above).</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
						</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
</body>